body{
    background: green;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    background: goldenrod;
    color: rgb(151, 4, 151);
    width: 150px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border: none;
    border-radius: 2px;
}